b{
    padding:100px;
}
#leftbox{
    float:left;
    border:1px solid black;
    padding: 60px;
    width: 5%;
    height: 400px;;
   
     
}
#middlebox
{
   float:left;
   width:65%;
   border:1px solid black;
   height:520px;
}
#rightbox{
   float:right;
   width:20%;
   border:1px solid black;
   padding:12px;
   height:498px;
   
}

form{
    padding:60px;
    
}
body{
    background-image: url('https://img.freepik.com/premium-photo/book-stack-library-room-blurred-bookshelf-background_42691-514.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    a:link {
        color: red;
      }
      
      /* visited link */
      a:visited {
        color: green;
      }
      
      /* mouse over link */
      a:hover {
        color: hotpink;
      }
      
      /* selected link */
      a:active {
        color: blue;}
